<!DOCTYPE html>
<html>
<head>
  <title>UserSessionPractice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% unless @current_user.present? %>
      <%= link_to 'User Login', login_path %><br>
    <% else %>
      <%= link_to 'User Logout', logout_path, method: :delete %><br>
    <% end %>

    <% unless @current_user.present? %>
      <%= link_to 'New User', new_user_path %><br>
    <% else %>
      <%= link_to 'Show User', user_path(@current_user) %><br>
    <% end %>

    <%= link_to 'All Projects', projects_path %> |

    <%= link_to 'New Project', new_project_path %><br>



    <%= link_to 'HOME', home_path %>
  </nav>

  <!-- SESSION ID -->
    <% if @current_user.present? %>
      <p><em><%= @current_user.name %> logged in</em></p>
    <% else %>
      <p><em>Log in above</em></p>
    <% end %>
  <!-- SESSION ID -->

  <!-- FLASH NOTICES -->
    <% if flash[:success] %>
      <p style="color:green"><em><%= flash[:success] %></em></p>
    <% end %>
    <% if flash[:error] %>
      <p style="color:red"><em><%= flash[:error] %></em></p>
    <% end %>
  <!-- FLASH NOTICES -->

  <%= yield %>

</body>
</html>
