<h1>Project show: <%= @project.name %></h1>

<h3>Project details:</h3>
<p>Name: <%= @project.name %></p>
<p>Project_id: <%= @project.id %></p>
<p>User created: <%= @project.user.name %></p>
<p>Description: <%= @project.description %></p>

<% if own_project? %>
  <div class="controls">
    <h3>Project controls:</h3>
    <%= link_to 'Edit project', edit_project_path(@project) %> |
    <%= link_to 'Delete project', project_path(@project), method: :delete, data: {confirm: 'Are you sure?'} %>
  </div>
<% end %>

<hr>

<h3>Pledge details:</h3>
<p>Pledge count: <%= @pledges.count %></p>
<p>Pledge sum_amount: <%= format_sum_amount(@project) %></p>
<ul>
  <% @pledges.each do |el| %>
  <li><%= "#{number_to_currency(el.amount)} from #{el.user.name}" %></li>
  <% end %>
</ul>

<% unless own_project? %>
  <% if already_pledged? %>
    <p><%= link_to "You backed this project",edit_pledge_path(@current_user.pledges.find_by(:project_id => @project.id)) %></p>
  <% else %>
    <%= link_to 'New pledge', new_project_pledge_path(@project) %>
  <% end %>
<% end %>
